html, body, #map {
    height: 100%;
    margin: 0;
}

.controls {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #fff;
    padding: 8px;
    z-index: 1000;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.layer-item {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-top: 4px;
}
